# Ignored files.
# @see https://git-scm.com/docs/gitignore

.env
.env.*
build

# ##############################################################################
# Specific patterns
# ##############################################################################

# cache
.cache
.eslintcache

# CI
.netlify

# IDE
*.sublime-*
.history
.idea
.vscode/*

# logs
*.log
*.log*

# dependencies
node_modules
.pnp
.pnp.js

# OS
.DS_Store
Thumbs.db

# tests
coverage
