{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "typescript",
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5"
}
